html{
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(34, 34, 59, 1);
    width: 100%;
    height: 15%;
    min-height: 130px;
}

.left-header{
    display: flex;
    width:fit-content;
    align-items: center;
    min-height: 130px;
}

.logoimg{
    width: 8%;
    margin:20px;
}

h1{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu{
    display:flex;
    flex-direction: column;
    width: 15%;
    height: 85%;
    background-color: rgb(201, 173, 167);
}

.todos-display{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
    background-color: rgba(242, 233, 228, 1);
}

.project-form{
    display: flex;
    z-index: -1;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    min-width: 386px;
    min-height: 245px;
    width: 20%;
    height: 30%;
    backdrop-filter: blur(64px) saturate(100%);
    -webkit-backdrop-filter: blur(64px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-title{
    align-self: center;
    margin-top: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
}

label, input{
    margin: 3px;
}

.submit-btns{
    display: flex;
    margin-top:10px;
    width: 100%;
    justify-content: flex-end;
}

#cancel, #submit{
    background-color:rgba(211, 212, 255, 1);
    width: 20%;
    border: 1px solid black;
    border-radius: 5px;
}

#cancel:hover, #submit:hover{
    background-color:rgb(151, 152, 255);
    cursor: pointer;
}

#add-project-btn{
    align-self: center;
    background-color: rgb(245, 216, 179);
    border-radius: 5px;
    border:solid 1px black;
    height: 25px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
}

#add-project-btn:hover{
    background-color:rgba(245, 184, 105, 0.5);
    cursor: pointer;
}

.menu-title{
    font-size:20px;
    margin-top: 10px;
    align-self: center;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin:10px;
    display:flex;
    justify-content: space-between;
}

.menuprojectname:hover{
    border-bottom: solid 1px rgba(0,0,0,0.5);
    ;
    cursor: pointer;
}

.projects-container{
    width:80%;
    align-self: center;
}

.arrow{
    justify-content: flex-end;
}

.project-header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 15px;
    width: 60%;
    height: fit-content;
    color:black;
}

.project-date, .project-name, .project-priority{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-tasks{
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 60%;
    height: 75%;
    margin-top: 10px;
    margin-left: 15px;
    box-shadow: 0px 0px 4px rgb(131, 131, 131);
}

.task-container{
    display:flex;
    flex-direction: row;
    width: 90%;
    height: 25px;
    align-self: center;
    margin-top: 15px;
}

#task-checkbox{
    height: 15px;
}

.task{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    height: 15px;
    margin-top: 5px;
}

.deletebutton{
    height: 20px;
}

.taskscontainer{
    height: fit-content;
    margin:0px;
}

.addtaskcontainer{
    display:flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top:10px;
}

.taskinput{
    width: 60%;
}

.addtask{
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.editicon{
    height:15px;
}

.deleteicon{
    height:15px;
    align-self: center;
    margin-left: 10px;
}

.deleteicon:hover{
    transform: scale(1.5);
    filter: saturate(7);
}